header {
  font-size: 1.8rem;
}

#logo h2 {
  font-size: 1.8rem;
}

#section-atf {
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../css/img/background3-min.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../css/img/background3-min.jpg");
  background-attachment: fixed;
}

/* -----------------PARAGRAPHS--------------------------- */

.long-copy, .long-copy-list, #location {
  width: 65%;
}

/* -----------------PARK--------------------------------*/
#location .long-copy {
  width: 45%;
}

#map {
	height: 300px;
	width: 50%;
	margin-bottom: 30px;
  margin-right: 1.5rem;
  z-index: -1;
}

.image-box {
  width: 33%;
}

/* ------------------EVENTS----------------------------- */
.evt-month {
  width: 30%;
}
