/* fonts */
$font-family: 'Lato', 'Arial', sans-serif;
$font-normal-wt: 300;
$font-size: 1.8rem;
$font-1025: 1.6rem;
$font-1200: 1.6rem;
$font-emphasis: 700;

/* colours */
$primary-color: #1070b7;
$secondary-color: #148de6;
$background-color: #fff;
$secondary-bg-color: #f4f4f4;
$font-color: #555;
$atf-color: #fff;
$footer-bg-color: #cbe6fa;

/* sizes */
$atf-h1-mobile-size: 2.8rem;
$atf-h2-mobile-size: 2rem;
$atf-h1-size: 4rem;
$atf-h2-size: 2.8rem;
$line-height: 145%;
$small-icon-mobile: 3rem;
$large-icon-mobile: 8rem;
$small-icon-700: 3.5rem;
$large-icon-700: 8.5rem;
$small-icon-800: 4rem;
$large-icon-800: 9rem;
$small-icon-1025: 5rem;
$large-icon-1025: 10rem;



/* spaces */
$default-space: 1rem;
$larger-space: 1.5rem;
$large-space: 2rem;
